@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main .ProseMirror {
  padding: 0;
  font-family: monospace;
}

.ch-desk-messenger.rightPosition {
  right: 75px !important;
}
